<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Política de Privacidade da KS Sonorização.">
    <title>Política de Privacidade - KS Sonorização</title>
    <link rel="stylesheet" href="/static/css/politica.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="drawer" id="navbar">
        <div class="nav-links">
            <a href="/">Início</a>
            <a href="/servicos">Serviços</a>
            <a href="/sobre">Sobre Nós</a>
            <a href="/politica">Política de Privacidade</a>
            <a href="/termos">Termos de Uso</a>
        </div>
    </div>
    <div class="drawer-toggle" id="drawer-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <header>
        <div class="logo">
            <img src="/static/images/logo.jpg" alt="KS Sonorização" class="logo-img">
            <h1>KS Sonorização</h1>
        </div>
    </header>

    <main>
        <section class="privacy-policy">
            <h2>Política de Privacidade</h2>
            <p><strong>1. Introdução</strong></p>
            <p>Bem-vindo à KS Sonorização. Esta Política de Privacidade descreve como coletamos, usamos e protegemos suas informações ao acessar ou usar nossos serviços. Ao utilizar nosso site, você concorda com os termos aqui descritos.</p>

            <p><strong>2. Coleta de Informações</strong></p>
            <p>Coletamos informações pessoais que você nos fornece voluntariamente ao entrar em contato conosco, solicitar um orçamento ou contratar nossos serviços. As informações podem incluir:</p>
            <p><strong>Dados de contato:</strong> Nome, endereço de e-mail, número de telefone e detalhes do evento.</p>
            <p><strong>Dados de navegação:</strong> Endereço IP, tipo de navegador, páginas acessadas e duração da visita.</p>
            <p><strong>Cookies:</strong> Para personalizar sua experiência e rastrear a performance do site.</p>

            <p><strong>3. Uso das Informações</strong></p>
            <p>Usamos suas informações pessoais para:</p>
            <p>Fornecer os serviços solicitados.</p>
            <p>Responder às suas perguntas e enviar orçamentos.</p>
            <p>Melhorar nossos serviços e personalizar sua experiência conosco.</p>

            <p><strong>4. Proteção das Informações</strong></p>
            <p>Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum método de transmissão pela internet ou armazenamento eletrônico é 100% seguro, e não podemos garantir a segurança absoluta das suas informações.</p>

            <p><strong>5. Compartilhamento de Informações</strong></p>
            <p>Não compartilhamos suas informações pessoais com terceiros, exceto:</p>
            <p>Quando necessário para fornecer os serviços solicitados.</p>
            <p>Quando exigido por lei ou por determinação judicial.</p>

            <p><strong>6. Alterações na Política de Privacidade</strong></p>
            <p>Podemos atualizar esta política de privacidade periodicamente. Recomendamos que você reveja esta página regularmente para se manter informado sobre nossas práticas de privacidade.</p>

            <p><strong>7. Contato</strong></p>
            <p>Se você tiver alguma dúvida sobre nossa política de privacidade, entre em contato conosco pelo whatsapp  <a href="https://wa.me/+5519982334035" target="_blank">wa.me/+5519982334035</a>.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 KS Sonorização. Todos os direitos reservados. <a href="/termos">Termos de Uso</a> | <a href="/politica">Política de Privacidade</a></p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const drawerToggle = document.getElementById('drawer-toggle');
            const navbar = document.getElementById('navbar');

            drawerToggle.addEventListener('click', function() {
                navbar.classList.toggle('active');
            });
        });
    </script>
</body>
</html>