<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KS Sonorização - Soluções profissionais em som e iluminação para eventos.">
    <title>Serviços - KS Sonorização</title>
    <link rel="stylesheet" href="/static/css/stylesservicos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <img src="/static/images/logo.jpg" alt="KS Sonorização" class="logo-small">
        <div class="nav-links">
            <a href="/">Início</a>
            <a href="/servicos">Serviços</a>
            <a href="/sobre">Sobre Nós</a>
            <a href="/contato">Contato</a>
        </div>
    </nav>

    <section id="servicos">
        <h2>Nossos Serviços</h2>
        <div class="servico">
            <img src="/static/images/duastorres.jpg" alt="2 Torres">
            <div class="descricao">
                <h3>Pacote Básico: 2 Torres</h3>
                <p>Ideal para eventos mais intimistas, este pacote oferece praticidade e otimização de espaço, garantindo máxima qualidade em sonorização, iluminação e DJs. Uma solução compacta, mas poderosa, para tornar seu evento inesquecível.</p>
            </div>
        </div>
        <div class="servico">
            <img src="/static/images/trave.jpg" alt="Trave">
            <div class="descricao">
                <h3>Pacote Intermediário: Estrutura Trave</h3>
                <p>Perfeito para eventos de médio porte, o pacote Estrutura Trave combina versatilidade e elegância. Com uma configuração intermediária, ele oferece excelente qualidade de sonorização, iluminação impactante e DJs preparados para criar a atmosfera ideal para o seu evento.</p>
            </div>
        </div>
        <div class="servico">
            <img src="/static/images/estruturax.jpg" alt="Estrutura em X">
            <div class="descricao">
                <h3>Pacote Premium: Estrutura Trave em X</h3>
                <p>O máximo em sofisticação e performance para eventos de grande porte. O pacote Estrutura Trave em X oferece uma experiência premium, com design inovador, sonorização impecável, iluminação deslumbrante e DJs experientes para garantir uma festa memorável. Ideal para quem busca excelência em cada detalhe.</p>
            </div>
        </div>
        <div class="servico">
            <img src="/static/images/nossaequipe.jpg" alt="Nossa Equipe">
            <div class="descricao">
                <h3>Nossa Equipe</h3>
                <p>Oferecemos soluções completas de sonorização para eventos de todos os tamanhos, garantindo a melhor qualidade de som.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 KS Sonorização. Todos os direitos reservados.</p>
    </footer>
</body>
</html>