<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="KS Sonorização - Soluções profissionais em som e iluminação para eventos.">
    <meta name="keywords" content="sonorização de eventos, sonorização profissional, locação de som, som para eventos, iluminação para eventos, casamento, festa de casamento, debutantes, festa de 15 anos, formatura, eventos corporativos, DJ para festas, DJ para casamento, DJ debutante, DJ formatura, DJ evento corporativo, DJ Sumaré, DJ Campinas, DJ Hortolândia, DJ Paulínia, DJ Americana, DJ Indaiatuba, DJ região de Campinas, aluguel de som, pista de dança, som e iluminação, eventos sociais, sonorização ao vivo, KS Sonorização">
    <title>Sobre Nós - KS Sonorização</title>
    <link rel="stylesheet" href="/static/css/stylesobre.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="drawer" id="navbar">
        <div class="nav-links">
            <a href="/">Início</a>
            <a href="/servicos">Serviços</a>
            <a href="/sobre">Sobre Nós</a>
        </div>
    </div>
    <div class="drawer-toggle" id="drawer-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <header>
        <img loading="lazy" src="/static/images/logo.webp" alt="KS Sonorização" class="logo">
        <h1>KS Sonorização</h1>
    </header>

    <div class="servico">
        <img loading="lazy" src="/static/images/nossaequipe.webp" alt="Nossa Equipe">
        <div class="descricao">
            <h2>Oferecemos soluções completas de sonorização para eventos de todos os tamanhos, garantindo a melhor qualidade para seu evento.</h2>
        </div>
    </div>

    <section id="sobre">
        <div class="descricao-container">
            <h2>Sobre Nós</h2>
            <p class="descricao">Somos uma empresa com sólida base familiar, especializada em serviços de sonorização e iluminação para eventos sociais e corporativos. Nosso compromisso é oferecer soluções de alta qualidade, atendendo às necessidades específicas de cada cliente com profissionalismo e excelência.</p>
        </div>
    </section>

    <section id="equipe">
        <h2>Nossa Equipe</h2>
        <div class="membro">
            <img loading="lazy" src="/static/images/membro1.webp" alt="Carlos Britto">
            <div class="descricao">
                <h3>Carlos Britto</h3>
                <p>Fundador e CEO, Carlos tem mais de 20 anos de experiência na indústria de eventos e é responsável por garantir que cada evento seja um sucesso.</p>
            </div>
        </div>
        <div class="membro">
            <img loading="lazy" src="/static/images/membro2.webp" alt="Felipe Britto">
            <div class="descricao">
                <h3>Felipe Britto</h3>
                <p>DJ, Felipe é responsável por garantir a animação e a qualidade sonora em cada evento.</p>
            </div>
        </div>
        <div class="membro">
            <img loading="lazy" src="/static/images/membro3.webp" alt="Adriana Britto">
            <div class="descricao">
                <h3>Adriana Britto</h3>
                <p>Responsável pela gestão, Adriana cuida de toda a parte administrativa e organizacional da empresa.</p>
            </div>
        </div>
    </section>
    <a href="https://wa.me/+5519982334035" class="whatsapp-button" target="_blank">
        <img src="/static/images/whatsapp.png" alt="WhatsApp">
    </a>
    
    <style>
        .whatsapp-button {
            position: fixed;
            bottom: 80px;
            right: 20px;
            width: 60px;
            height: 60px;
            z-index: 1000;
        }
    
        .whatsapp-button img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
        }
    
        .whatsapp-button img:hover {
            transform: scale(1.1);
        }
    
        .cookie-banner {
            z-index: 1001;
        }
        </style>
    
    <footer>
        <p>&copy; 2024 KS Sonorização. Todos os direitos reservados. <a href="/termos">Termos de Uso</a> | <a href="/politica">Política de Privacidade</a></p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const drawerToggle = document.getElementById('drawer-toggle');
            const navbar = document.getElementById('navbar');

            drawerToggle.addEventListener('click', function() {
                navbar.classList.toggle('active');
            });
        });
    </script>
</body>
</html>